<div class="container">
  <div style="text-align: center; margin: 5%">
    <h2>{{ edicion ? 'Edición de historial' : 'Registrar historial' }}</h2>
  </div>
  <div style="text-align: center; margin: 5%">
    <form [formGroup]="form" (submit)="aceptar()" class="example-form">
      @if (edicion) {
      <mat-form-field class="example-full-width">
        <mat-label>ID:</mat-label>
        <input matInput formControlName="codigo" readonly="true" />
        <mat-error> @if (form.get('id')?.hasError('required')) { Ingrese ID!! } </mat-error>
      </mat-form-field>
      }
      <br />
      <mat-form-field>
        <mat-label>documentacionHistorial</mat-label>
        <input matInput formControlName="documentacionHistorial" />
        <mat-error>
          @if (form.get('documentacionHistorial')?.hasError('required')) { Ingrese documentacionHistorial!! }
        </mat-error>
      </mat-form-field>
      <br />
      <mat-form-field>
        <mat-label>Usuarios</mat-label>
        <mat-select formControlName="FK">
          @for (food of listaUsuarios; track food) {
          <mat-option [value]="food.idUsuario">{{ food.idUsuario }}</mat-option>
          }
        </mat-select>
      </mat-form-field>
      <br />
      <div>
        <button matButton="elevated">{{ edicion ? 'Editar' : 'Registrar' }}</button>
      </div>
    </form>
  </div>
</div>
