<div class="form-container">
  <h2 class="form-title">
    <mat-icon>{{ edicion ? 'edit' : 'add_circle' }}</mat-icon>
    {{ edicion ? ' Edición de Historial' : ' Registrar Historial' }}
  </h2>

  <form [formGroup]="form" (submit)="aceptar()" class="user-form">
    <div class="form-grid">
      @if (edicion) {
      <mat-form-field class="form-field">
        <mat-label>ID</mat-label>
        <input matInput formControlName="codigo" readonly />
      </mat-form-field>
      }

      <mat-form-field class="form-field">
        <mat-label>Paciente *</mat-label>
        <mat-select formControlName="FK" required>
          @for (u of listaUsuarios; track u) {
          <mat-option [value]="u.idUsuario">{{ u.nameUsuario }} {{ u.apellidoUsuario }}</mat-option>
          }
        </mat-select>
        <mat-error>Seleccione paciente</mat-error>
      </mat-form-field>

      <mat-form-field class="form-field" style="grid-column: 1 / -1;">
        <mat-label>Documentación *</mat-label>
        <textarea matInput formControlName="documentacionHistorial" rows="5"></textarea>
        <mat-error>
           @if (form.get('userdocumentacionHistorialname')?.hasError('required')) {
            El nombre del usuario que documenta es obligatorio.
        } @else if (form.get('userdocumentacionHistorialname')?.hasError('minlength')) {
            Debe tener un mínimo de 5 caracteres.
        } @else if (form.get('userdocumentacionHistorialname')?.hasError('maxlength')) {
            Debe tener un máximo de 100 caracteres.
        } @else if (form.get('userdocumentacionHistorialname')?.hasError('pattern')) {
            Solo se permiten letras y espacios.
        }</mat-error>
      </mat-form-field>
    </div>

    <div class="form-actions">
      <button mat-raised-button color="warn" type="button" routerLink="/historiales">Cancelar</button>
      <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid">
        <mat-icon>save</mat-icon>
        {{ edicion ? ' Guardar Cambios' : ' Registrar Historial' }}
      </button>
    </div>
    <button mat-raised-button color="warn" type="button" (click)="cancelar()">
    <mat-icon>cancel</mat-icon> Cancelar
</button>
  </form>
</div>