.container {
  max-width: 400px;
  margin: 50px auto;
  padding: 30px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.logo {
  width: 200px;
  height: auto;
  margin-bottom: 20px;
  border-radius: 8px;
}

h2 {
  font-size: 24px;
  font-weight: bold;
  color: #003366;
  margin-bottom: 20px;
}

mat-form-field {
  width: 100%;
  margin-bottom: 20px;
}

.custom-button {
  background-color: rgb(251, 140, 0);
  color: white;
  border: none;
  padding: 0.5rem 1.25rem;
  font-size: 1.1rem;
  border-radius: 0.375rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100%;
  margin-top: 10px;
}

.btn-regresar {
  display: block;
  margin-top: 15px;
  color: #003366;
  text-decoration: none;
  font-size: 0.9rem;
}

.btn-regresar:hover {
  text-decoration: underline;
}