<div class="form-container">
  <h2 class="form-title">
    {{ edicion ? ' Edición de Técnica' : ' Registrar Técnica' }}
  </h2>

  <form [formGroup]="form" (submit)="aceptar()" class="user-form">

    <!-- ID (solo en edición) -->
    @if (edicion) {
      <mat-form-field class="form-field">
        <mat-label>ID</mat-label>
        <input matInput formControlName="codigo" readonly />
        <mat-error>
          @if (form.get('id')?.hasError('required')) { Ingrese ID!! }
        </mat-error>
      </mat-form-field>
    }

    <!-- Nombre -->
    <mat-form-field class="form-field">
      <mat-label>Nombre *</mat-label>
      <input matInput formControlName="nombreTecnica" />
      <mat-error>
        @if (form.get('nombreTecnica')?.hasError('required')) {
            El nombre de la técnica es obligatorio.
        } @else if (form.get('nombreTecnica')?.hasError('minlength')) {
            Debe tener un mínimo de 5 caracteres.
        } @else if (form.get('nombreTecnica')?.hasError('maxlength')) {
            Debe tener un máximo de 100 caracteres.
        } @else if (form.get('nombreTecnica')?.hasError('pattern')) {
            Solo se permiten letras, números y espacios.
        }</mat-error>
    </mat-form-field>

    <!-- Descripción -->
    <mat-form-field class="form-field">
      <mat-label>Descripción *</mat-label>
      <textarea matInput formControlName="descripcionTecnica" rows="3"></textarea>
      <mat-error>
        @if (form.get('descripcionTecnica')?.hasError('required')) {
            La descripción de la técnica es obligatoria.
        } @else if (form.get('descripcionTecnica')?.hasError('minlength')) {
            Debe tener un mínimo de 20 caracteres.
        } @else if (form.get('descripcionTecnica')?.hasError('maxlength')) {
            Debe tener un máximo de 1000 caracteres.
        } @else if (form.get('descripcionTecnica')?.hasError('pattern')) {
            Solo se permiten letras, números, espacios y signos de puntuación comunes.
        }</mat-error>
    </mat-form-field>

    <!-- Sesión -->
    <mat-form-field class="form-field">
      <mat-label>Sesión *</mat-label>
      <mat-select formControlName="FK" required>
        @for (s of listaSesiones; track s) {
          <mat-option [value]="s.idSesion">Sesión #{{ s.idSesion }} — N°{{ s.numeroSesion }}</mat-option>
        }
      </mat-select>
    </mat-form-field>

    <!-- Botón -->
    <div class="form-actions">
      <button mat-raised-button color="primary" type="submit">
        {{ edicion ? 'Guardar cambios' : 'Registrar técnica' }}
      </button>
    </div>

  </form>
</div>