<div class="container">

  <h2>Video Call - WebRTC</h2>

  <div class="room-box">
    <label>Room ID:</label>
    <input [(ngModel)]="roomId" placeholder="Ingresa Room ID">
    <button (click)="createRoom()">Crear Sala</button>
    <button (click)="joinRoom()">Unirse</button>
  </div>

  <p><strong>Sala Actual:</strong> {{ roomId }}</p>

  <div class="videos">
    <video #localVideo autoplay playsinline muted></video>
    <video #remoteVideo autoplay playsinline></video>
  </div>
  <div class="controls">
    <button (click)="toggleAudio()">
      {{ audioEnabled ? 'Mute' : 'Unmute' }}
    </button>

    <button (click)="toggleVideo()">
      {{ videoEnabled ? 'Apagar cámara' : 'Encender cámara' }}
    </button>
  </div>
</div>
