<div class="form-container">
  <h2 class="form-title">
    {{ edicion ? '💾 Edición de Rol' : '✅ Registrar Rol' }}
  </h2>

  <form [formGroup]="form" (submit)="aceptar()" class="user-form">
    
    <!-- ID (solo en edición) -->
    @if (edicion) {
      <mat-form-field class="form-field">
        <mat-label>ID</mat-label>
        <input matInput formControlName="codigo" readonly />
        <mat-error>
          @if (form.get('id')?.hasError('required')) { Ingrese ID!! }
        </mat-error>
      </mat-form-field>
    }

    <!-- Nombre del rol -->
    <mat-form-field class="form-field">
      <mat-label>Nombre del Rol *</mat-label>
      <input matInput formControlName="nombre" />
      <mat-error> @if (form.get('nombre')?.hasError('required')) { Ingrese nombre!! }</mat-error>
    </mat-form-field>

    <!-- Botón -->
    <div class="form-actions">
      <button mat-raised-button color="primary" type="submit">
        {{ edicion ? '💾 Guardar cambios' : '✅ Registrar rol' }}
      </button>
    </div>

  </form>
</div>