<div class="form-container">
  <h2 class="form-title">
    {{ edicion ? ' Edición de terapeuta' : ' Registrar terapeuta' }}
  </h2>

  <form [formGroup]="form" (submit)="aceptar()" class="user-form">

    <!-- ID (solo en edición) -->
    @if (edicion) {
      <mat-form-field class="form-field">
        <mat-label>ID</mat-label>
        <input matInput formControlName="codigo" readonly />
        <mat-error>@if (form.get('id')?.hasError('required')) { Ingrese ID!! } </mat-error>
      </mat-form-field>
    }

    <!-- Username -->
    <mat-form-field class="form-field">
      <mat-label>Username *</mat-label>
      <input matInput formControlName="username" />
      <mat-error>@if (form.get('username')?.hasError('required')) {
            El nombre de terapeuta es obligatorio.
        } @else if (form.get('username')?.hasError('minlength')) {
            Debe tener un mínimo de 5 caracteres.
        } @else if (form.get('username')?.hasError('maxlength')) {
            Debe tener un máximo de 30 caracteres.
        } @else if (form.get('username')?.hasError('pattern')) {
            Solo se permiten letras y números.
        }</mat-error>
    </mat-form-field>

    <!-- Password -->
    <mat-form-field class="form-field">
      <mat-label>Password *</mat-label>
      <input matInput type="password" formControlName="password" />
      <mat-error> @if (form.get('password')?.hasError('required')) { Ingrese password!! }</mat-error>
    </mat-form-field>

    <!-- Estado -->
    <div class="radio-group">
      <label>Estado *</label>
      <mat-radio-group aria-label="Estado" formControlName="estado">
        <mat-radio-button [value]="true">Activo</mat-radio-button>
        <mat-radio-button [value]="false">Inactivo</mat-radio-button>
      </mat-radio-group>
      <mat-error>@if (form.get('estado')?.hasError('required')) { La estado es obligatoria. }</mat-error>
    </div>

    <!-- Nombre y Apellido -->
    <div class="row">
      <mat-form-field class="form-field">
        <mat-label>Nombre *</mat-label>
        <input matInput formControlName="nameusuario" />
        <mat-error>@if (form.get('nameusuario')?.hasError('required')) {
            El nombre es obligatorio.
        } @else if (form.get('nameusuario')?.hasError('minlength')) {
            Debe tener un mínimo de 2 caracteres.
        } @else if (form.get('nameusuario')?.hasError('pattern')) {
            Solo se permiten letras y espacios.
        }</mat-error>
      </mat-form-field>

      <mat-form-field class="form-field">
        <mat-label>Apellido *</mat-label>
        <input matInput formControlName="apellidousuario" />
        <mat-error>@if (form.get('nameusuario')?.hasError('required')) {
            El nombre es obligatorio.
        } @else if (form.get('nameusuario')?.hasError('minlength')) {
            Debe tener un mínimo de 2 caracteres.
        } @else if (form.get('nameusuario')?.hasError('pattern')) {
            Solo se permiten letras y espacios.
        }</mat-error>
      </mat-form-field>
    </div>

    <!-- Fecha de nacimiento -->
    <mat-form-field class="form-field">
      <mat-label>Fecha de Nacimiento *</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="fecha" />
      <mat-hint>DD/MM/YYYY</mat-hint>
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
      <mat-error>@if (form.get('fecha')?.hasError('required')) { La fecha es obligatoria. }</mat-error>
    </mat-form-field>

    <!-- DNI -->
    <mat-form-field class="form-field">
      <mat-label>DNI *</mat-label>
      <input matInput formControlName="dni" />
      <mat-error> @if (form.get('dni')?.hasError('required')) {
            El DNI es obligatorio.
        } @else if (form.get('dni')?.hasError('pattern') || form.get('dni')?.hasError('minlength') || form.get('dni')?.hasError('maxlength')) {
            El DNI debe contener exactamente 8 dígitos numéricos.
        }</mat-error>
    </mat-form-field>

    <!-- Especialidad -->
    <mat-form-field class="form-field">
      <mat-label>Especialidad *</mat-label>
      <mat-select formControlName="especialidad" required>
        @for (t of tipos; track t) {
          <mat-option [value]="t.value">{{ t.viewValue }}</mat-option>
        }
      </mat-select>
      <mat-error>@if (form.get('especialidad')?.hasError('required')) {
            La especialidad es obligatoria.
        } @else if (form.get('especialidad')?.hasError('minlength')) {
            Debe tener un mínimo de 5 caracteres.
        } @else if (form.get('especialidad')?.hasError('maxlength')) {
            Debe tener un máximo de 100 caracteres.
        } @else if (form.get('especialidad')?.hasError('pattern')) {
            Solo se permiten letras y espacios.
        }</mat-error>
    </mat-form-field>

    <!-- Número colegiatura -->
    <mat-form-field class="form-field">
      <mat-label>Número Colegiatura *</mat-label>
      <input matInput formControlName="numerocolegiatura" />
      <mat-error>@if (form.get('numerocolegiatura')?.hasError('required')) {
            El número de colegiatura es obligatorio.
        } @else if (form.get('numerocolegiatura')?.hasError('minlength') || form.get('numerocolegiatura')?.hasError('maxlength') || form.get('numerocolegiatura')?.hasError('pattern')) {
            Debe contener entre 5 y 10 dígitos numéricos.
        }</mat-error>
    </mat-form-field>

    <!-- Apoderado -->
    <mat-form-field class="form-field">
      <mat-label>Apoderado *</mat-label>
      <input matInput formControlName="apoderadousuario" />
      <mat-error>@if (form.get('apoderadousuario')?.hasError('required')) {
            El nombre del apoderado es obligatorio.
        } @else if (form.get('apoderadousuario')?.hasError('minlength')) {
            Debe tener un mínimo de 5 caracteres.
        } @else if (form.get('apoderadousuario')?.hasError('maxlength')) {
            Debe tener un máximo de 100 caracteres.
        } @else if (form.get('apoderadousuario')?.hasError('pattern')) {
            Solo se permiten letras y espacios.
        }</mat-error>
    </mat-form-field>

    <!-- Rol -->
    <mat-form-field class="form-field">
      <mat-label>Rol *</mat-label>
      <mat-select formControlName="FK">
        @for (food of listaRoles; track food) {
          <mat-option [value]="food.idRol">{{ food.nameRole }}</mat-option>
        }
      </mat-select>
    </mat-form-field>

    <!-- Botón -->
    <div class="form-actions">
      <button mat-raised-button color="primary" type="submit">
        {{ edicion ? ' Guardar cambios' : ' Registrar terapeuta' }}
      </button>
    </div>
<button mat-raised-button color="warn" type="button" (click)="cancelar()">
    <mat-icon>cancel</mat-icon> Cancelar
</button>
  </form>
</div>
